@import './baseStyle.scss';
$fontColor: #282c34;

.App {
  @include flexLayout(column, flex-start, flex-start);
  width: 100vw;
  height: 1500px;
  overflow-y: scroll;
  background-color: #e8e8e8;

  .appContainer {
    @include flexLayoutWithGap(row, center, flex-start, 1.3rem);
    height: calc(100% - 70px);
    width: 100%;

    .appSideBar {
      @include flexLayoutWithGap(column, center, flex-start, 1.5rem);
      width: 250px;
      background-color: #fff;
      height: 100%;
    }

    .appContent {
      @include flexLayout(column, center, center);
      width: calc(100% - 270px);
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .App {
    .appContainer {
      @include flexLayoutWithGap(column, center, flex-start, 1.3rem);
      height: auto;
      overflow: scroll;

      .appSideBar {
        display: none;
      }

      .appContent {
        @include flexLayout(column, center, center);
        width: 100%;
        height: 100%;
      }
    }
  }
}