.pd-05 {
  padding: .5rem;
}

.pd-08 {
  padding: .8rem;
}

.box-shadow {
  box-shadow: 0 2px 4px #e2e1e1;
}

.card-container {
  padding: 1rem;
  background-color: #fff;
  color: #000;
}

@mixin flexLayout($direction, $alignItems, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justify;
}

@mixin flexLayoutWithGap($direction, $alignItems, $justify, $gap) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justify;
  gap: $gap;
}